/* 
*{
    font-size: 24px;
    font-style: normal;
} */
/* Carrousel home */
 .home{
	padding:0;
    margin-top: -16px;
}
.home .slide{
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
    height: 33rem;
}
.home .slide .content{
    display:flex;
    width:85rem;
    height:100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
}
.content h3{
    color:#FFFFFF;
    width: 568px;
    text-align:left;
    font-size: 24px;
    height: 276px;

    
}
/* Deuxieme section */
h1.title{
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: justified;

}
.image-illustration{
    width: 99%;
    height: 38%;
    object-fit: contain;
}
.w-video-main{
    object-fit: cover;
    width: 100%;
}
.w-video-second{
	width:17%;
	height:100%;
    
}
.container-grid-video{
    display: flex;
    flex-direction:row;
}

.contenaire-video video{
    height: 300px;
    width: 300px;
    border-radius: 5px;
}
.container-home{
    padding:0 2rem;
}

/* Présentation de services 2eme section */

.contenaire-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width:95%;
}
.service-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 392px;
    margin-top: 2rem;
    margin-right: 3rem;
    background: #F5F7F8;
    border: 1px solid #9D9898;

}
.service-content img{
    /* margin:3px; */
    width: 375px;
    height: 289px;
}
.service-content h1{
    margin: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    
    color: #000000;
    
}
.service-content p{
    text-align: justify;
    padding:1rem 2rem;

}
.service-content a{
    height: 40px;
    /* margin: 2rem 0; */
    background: #FF0000;
    border-radius: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #ffff;
}
/* Debut partnaire */
h2.title{
    text-align: center;
}
div.slick-slide {
    /* transition: all ease-in-out .3s; */
    opacity: 1 !important;
}
.card-image{
    position: relative;
    width: 205px;
    height: 80px;
}
.card-image .card-img{
    height:100%;
    width:100%;
    object-fit: cover;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}

.slider {
    width: 61%;
    margin: 55px auto;
  }
.slick-list {
    /* position: relative; */
    /* display: block; */
    /* overflow: hidden; */
    margin: 0px 77px;
    /* padding: 0; */
    text-align: center;
  }
  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }
  button.slick-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .slick-prev:before,
  .slick-next:before {
    color: #234181;
    font-size:20px;
    /* border: 4px solid #234181; */
  }
  .slick-prev:before {
    /* content: '→'; */    
    content: url(./../media/logo/inferieur.png);
    }
    .slick-next:before {
        /* content: '→'; */    
        content: url(./../media/logo/sup.png);
        }


  /* .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  } */

  /* .slick-active {
    opacity: .5;
  } */

  /* .slick-current {
    opacity: 1;
  } */
/* Fin style partnaire */
/* Nos partenaires */

  


.partner_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
}
.partner_display_item{
    display:flex;
    overflow-x: scroll;
    padding: 24px;
    width:300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap:12px;
}
.partner_display_item .item_slide{
    flex:0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align:start ;
}
.item_slide{
    width: 105px!important;
    height: 80px!important;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}
.one-content{
    margin-top: 8px;
}
.item_slide img{
    width: 100%;
    height: 100%;
}

/* Responsive mobile */
@media (max-width:450px) {
    *{
        font-size: 18px;
    }
    /* Caroussel */
	.home .slide{
		padding: 2rem;
		margin-top: 2rem;
	}

    .home .slide .content {
        display:flex;
        width: 27rem;
        height: 60%;
        justify-content: start;
        
    }
    .content h3{
        display: inline;
        font-size:18px;
         height: 200px;
         width: 300px;
    }
    /* Description service une */
     

    .image-illustration {
        width: 13%;
        height: 160%;
        object-fit: contain;
    }
    .content-image >img{
        width:50px;
        height:100px
    }
  
    .content-desc{ 
        height: 285px;
        width: 268px;
    }

    .content-desc h1{
        margin:10px;
        font-size:20px;
        line-height: 28px;
        font-weight: bold;
    }
    .content-desc p{
        line-height: 24px;
        box-sizing: border-box;
        text-align: left;
    }

    .content-image img{
        width: 52px;
        height: 79px;
    }

    /* .contenaire-video video{
        width: 300px;
    } */
    .service-content {
        display: flex;
        width: 320px;
        margin-top: 2rem;
        margin-right: 0;
        background: #F5F7F8;
        border: 1px solid #9D9898;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
    .service-content >img{
        width: 310px;
    }
  
    /* Partner */
    /* .slider {
        width: 50%;
        margin: 100px auto;
      } */
    .slider {
        width: 80%;
        margin: 100px auto;
      }
    
      .slick-slide {
        margin: 0px 50px;
      }
    
      .slick-slide img {
        width: 80%;
      }
  
    .container_partner_display {
        display:flex;
        /* width:100%; */
        justify-content: center; 
        text-align: center;
         background: #FFFFFF;
    }
    .partner_block{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100vw;
    }
    .container-next-slide {
        width:100px;
        height:100px
    }
    
    .item_slide{
        display:inline-block;
        width: 205px!important;
        height: 80px!important;
        margin: 0 2rem;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
    div.card-image{
        position: relative;
        width: 205px !important;
        height: 70px;
      
    }
    div.card-image .card-img{
        height:100%;
        width:100%;
        object-fit: cover;
        /* margin:0 20px !important; */
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
}