.bg-image{
	object-fit: cover;
	width: 100%;
	background-size: cover;
	height: 600px;
}
.contenair-new{
font-weight: 600;
line-height: 32px;
background: rgba(0, 0, 0, 0.5);
height:100%;
display: flex;
/* padding: 32px 65px; */
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}
.contenair-new p{
font-weight: 600;
font-size: 26px;
line-height: 32px;
color: #FFFFFF;
}
.contenair-new a,.contenair-new a:hover	{
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 7px; 
	color: #000000;
	}

/* <!-- --> */
.new-btn a{
	width:19px;
	height:19px;
	color: #FFFFFF;
}
.bg-image-new{
	object-fit: cover;
	width: 100%;
	background-size: cover;
	height: 457px;
 }
 .margin-15{
	     margin-right: 0px;
 }
 .bloc-mood{
	position: relative;
	height: 90vh;
	width: 100vw;
	top: 0;
	overflow: hidden;
	 margin-right: 0px;
	 color:#FFFFFF;
 }
 .bloc-mood video{
	position:absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	z-index:-100;
	left: 50%;
	transform: translate(-50%,-50%);
 }
 .bloc-mood video ::before{
	position:absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: red;
 }
