@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root{
	--color-expertise:#BF24C0;
	--color-innovention:#2592F9;
	--color-recrutement:#14D1B3;
	--color-ressource:#FFB400;
	--color-secteur:#3F079C;
	--color-actualite:#FF0000;
	--color-text-menu:#FFFFFF
	--black: #222;
	--white:#fff;
	--box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	border:0;
	scroll-behavior: smooth;
	text-decoration:none;
	outline:none;
}
/* Style global */
a.btn.btn-primary ,button.btn.btn-primary{
	background-color:#FF0000 !important;
	color: #FFFFFF !important;
	outline:none!important;
	border-color:#FF0000 !important;

}

.form-control:focus,a.btn.btn-primary:focus,a.btn.btn-primary:focus{
	border-color: #00000071 !important;
	box-shadow: none!important;
}

/* Fin styles global */
html{
	font-size:18px;
	min-width: 320;
	overflow-x: auto;
}
.header_image {
 	background-color: var(--white) ; 
	 padding: 9px;
}
.header_image a > img {
	height: 70px;
}

.header_nav_non_active {
	text-decoration: none;
}
/* Mise en forme du header */
.header_container{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000!important;
}
.icon-cog{
	color: var(--white) ;
	font-size:19px;
	display:none;
}
.header_nav_container{
	z-index: 1000;	
    display: flex;
	width: 100%;
    flex-direction: row;
    align-items: center;
	
}

.scrollTop{
	position:fixed;
	bottom:30px;
	right:30px;
	padding: 20px 20px;
	background-color:#000; 
	border-radius: 5px;
	cursor: pointer;
	transition:all 0.5s ease 0s;
}

.scrollTop:hover{
	transform: scale(1);
	border: 1px solid #FFFFFF;
	border-radius: 19px;
}

.bg-color-shadox{
	background:var(--white);
	box-shadow: var(--box-shodow);
}
.link-navbar{
    display: inline-flex;
	width: 100%;
    justify-content: space-between;
	 
}
.link{
	cursor: pointer;
}

.link-navbar .link-menu-grid{
	list-style: none;
    display: flex;
    width: 100%;
    padding: 5px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.link-navbar .link{
	list-style: none;
    display: flex;
    width: 100%;
    padding: 5px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.link-navbar-sous-menu {
    list-style: none;
	width: 25%;
}
li{
	list-style: none;
}

/* Style appliquer au survole de l'element au survole */
.link-navbar .link-menu-grid a{
	border-color: none!important;
	border-bottom: 1px solid #ffffff00;
}
.link-navbar .link a{
	border-color: none;
	border-bottom: 1px solid #ffffff00;
}
/* class appliquer lors qu'on survole un menu contenant du grid */
.link-navbar .link-menu-grid a:hover{
    text-decoration: none;	
    font-size: 18px;
	transform: scale(1);
	font-weight: bold;
	border-bottom: 1px solid #FFFFFF;
}
.link-navbar .link a:hover{
    text-decoration: none;	
    font-size: 18px;
	transform: scale(1);
	font-weight: bold;
	border-bottom: 1px solid #FFFFFF;
}

.link-navbar .link a.no__border-btom{
	border-bottom: none;
	border-bottom: 1px solid #ffffff00;
}

ul .menu:nth-child(0n+1){
	width: 20%;
	border-bottom: none;
}
/* Style applicaquer au sous-menu */
.link-menu-grid .sous-menu{
 	position: absolute;
    width: 100%;
	/* z-index: -20; */
	display: none;
	top:149px;
	left:0;
	height:192px;
	
}

.menu:hover .sous-menu{
	display: block;
	transition: all 0.3s ease-in;
}

nav.navbar {
	padding:0px;
}

.container-sous-menu-grid{
	display: flex;
    justify-content: space-evenly;
	margin-left:2rem;
	margin-top:2rem;
	justify-content: space-evenly;
	width: 70%;
}

div.underlin{
	width: 100%;
	height:8px;
	z-index: 1;
	background-color:#BF24C0;
}

.element-sous-menu{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-content: space-between;
    align-items: center;
    justify-items: start;
	row-gap: 2ch;
}

div.d-none{
 display:none !important;
}

.link-navbar .link-menu-grid li.sub-menu a:hover{
    text-decoration: none;	
    font-size: 18px;
	transform: scale(1);
	font-weight: bold;
	color:#FFFFFF!important;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
}

.logo-menu{
	width: 40px;
	height: 40px;
}

#menu-btn{ 
	cursor : pointer;
	color: var(--black);
	display:none;
}
/* Media query max 1600 */

@media (max-width:1600px) {
	
	.header_nav_container a{
		font-size:17px;	
		padding:2px;
	}
	.link-navbar .link {
		padding:2px;
	}
	.link-navbar .link-menu-grid{
		padding:2px;
	}
	.header_nav_container a:hover{
		font-size:17px !important ;	
		
	}
	ul .menu:nth-child(0n+1){
		width: 5%;
		border-bottom: none;
	}
	.link-menu-grid .sous-menu {
		top: 136px;
	
	}


}

@media (max-width:1037px) {
	img.logo-menu {
		width: 30px;
		height: 40px;
	}
	.header_nav_container a{
		font-size:17px;	
		padding:2px;
	}
	.link-navbar .link {
		padding:2px;
	}
	.link-navbar .link-menu-grid{
		padding:2px;
	}
	.header_nav_container a:hover{
		font-size:17px !important ;	
		
	}
	ul .menu:nth-child(0n+1){
		width: 5%;
		border-bottom: none;
	}

}

/* @media(1348){

} */
/* Responsive */
/* tablet */
/* min-width: 200px;
/* width: 20%; 
font-size: 1.9rem; */
   /* Tablette */
 @media (max-width:1090px) {
	
	.header_nav_container {
		/* max-height: 150px; */
    	display: flex;
    	flex-direction: row;
    	align-items: center; 

	}
	.header_nav_container,.link-navbar,
	li.menu{
		max-height:80vh;
		/* max-width: 162px; */
	}
	.header_nav_container a{
		height: 58px;
		width: 163px;
		padding: 10px;
		text-align: center;	
		font-size:15px;
		padding:10px;
	}
	nav.header_nav_container,ul.link-navbar{
		max-width: 1224px;
		/* overflow-x:auto; */
	}
	nav.header_nav_container{
		/* max-width: 1224px; */
		overflow-x:auto;
	}
	.link-navbar .link  .link-menu-grid a{
		width:  191px;
	}
	.link-menu-grid .sous-menu {
		top: 136px;

	}
	.logo-menu{
		width:30px;
		height:30px;
		object-fit: contain;
	}


} 
/* scrollling nav */
/* @media (max-width:1222px) {


}  */
@media (max-width:1279px) {

} 
 @media (max-width:994px) {

} 
/*  mini ipad*/
@media (max-width:768px) {
	
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

/* Mobile */
@media (max-width:450px) {
	
	.header_container{
		display:flex;
		justify-content: space-between;
		align-items: center;
		background-color:#FFFFFF;
		margin-right: 0px;
	} 
	.header_image a > img {
		height: 70px;
		width: 200px;
	}
	.icon-cog{
		display: inherit;
	}
	#menu-btn{
		font-size :2rem;
		padding-right:20px;
		display: inline-block;
		transition:.3s linear;
	}
	#menu-btn.fa-times{
		margin-right:20px;
		transform:rotate(180deg)
	}

	.header_nav_container{
		position: absolute;
		max-height: 400px;
		top:90%;
		left: 0;
		right: 0;
		display: block;
		background-color: var(--white);
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
		transition: .3s linear;
		
	}

	.header_nav_container.active{
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);

	}
	.header_nav_container ul {
		display: block;
		margin:0px;
		width: 100%;
		font-size: 18px;
	}
	.header_nav_container a{
		text-align: left;
	}
	ul .menu:nth-child(0n+1) {
		width: 100%;
	}

	.link-navbar .link {
		justify-content: start;
	}

	.link-navbar .link-menu-grid {
		display: block;
	}
	.link-navbar .link a{
		height:45px;
	}
	.icon-cog{
		display:inline;
	}
	li.link-navbar .link-menu-grid {
		list-style: none;
    	display: grid;
		grid-template-columns: 1fr 1fr;
		padding:0;
	}

	.container-sous-menu-grid {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  	}

	
}


 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 
 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
	}
	
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	/* Styles */
	}
	
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
}
	
	/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/* Styles */
}
	
	/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
}
	
	/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
}
	/**********
	iPad 3
	**********/
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
	}
	
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
	}
	/* Desktops and laptops ----------- */
	@media only screen and (min-width : 1224px) {
	/* Styles */
	}
	
	/* Large screens ----------- */
	@media only screen and (min-width : 1824px) {
	/* Styles */
	}
	
	/* iPhone 4 ----------- */
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
	}
	
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
	}
	
	/* iPhone 5 ----------- */
	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	/* iPhone 6 ----------- */
	@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	/* iPhone 6+ ----------- */
	@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	/* Samsung Galaxy S3 ----------- */
	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	/* Styles */
	}
	
	/* Samsung Galaxy S4 ----------- */
	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	}
	
	/* Samsung Galaxy S5 ----------- */
	@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	}
	
	@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	/* Styles */
	}
	