/* 
/* Carrousel home */
 .home{
	padding:0;
    margin-top: -16px;
}
.home .slide{
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
    height: 33rem;
}
.home .slide .content{
    display:flex;
    width:73rem;
    height:100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
}
.content h3{
    color:#FFFFFF;
    width: 568px;
    text-align:left;
    font-size: 24px;
    height: 276px;

    
}
/* Deuxieme section */
h1.title{
    font-size: 39px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: justified;

}
.p-left-10{
    padding-right: 0px;
}
.box-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;
}
.w-video-main{
    object-fit: cover;
    width: 100%;
}
.w-video-second{
	width:17%;
	height:100%;
    
}
.container-grid-video{
    display: flex;
    flex-direction:row;
}

.container-home{
    padding:0 2rem;
}

/* Présentation de services 2eme section */
.container-media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 10px;
}
.item-un{
    grid-column: 1 / 2;
    grid-row: 1/2;
}

.service-content p{
    text-align: justify;
    padding:1rem 2rem;

}
h3.title,h2.title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    
}
/* Debut partnaire */
h2.title{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #000000;
}
div.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1 !important;
}
.card-image{
    position: relative;
    width: 205px;
    height: 80px;
   
}
.card-image .card-img{
    height:100%;
    width:100%;
    object-fit: cover;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}

.slider {
    width: 61%;
    margin: 55px auto;
  }
.slick-list {
    /* position: relative; */
    /* display: block; */
    /* overflow: hidden; */
    margin: 0px 77px;
    /* padding: 0; */
    text-align: center;
  }
  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }
  button.slick-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .slick-prev:before,
  .slick-next:before {
    color: #234181;
    font-size:20px;
    /* border: 4px solid #234181; */
  }
  .slick-prev:before {
    /* content: '→'; */    
    content: url(./../media/logo/inferieur.png);
    }
    .slick-next:before {
        /* content: '→'; */    
        content: url(./../media/logo/sup.png);
        }


  /* .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  } */

  /* .slick-active {
    opacity: .5;
  } */

  /* .slick-current {
    opacity: 1;
  } */
/* Fin style partnaire */
/* Nos partenaires */


.one-content{
    margin-top: 8px;
}
.item_slide img{
    width: 100%;
    height: 100%;
}
@media (max-width:1291px) {

}

/* Responsive mobile */
@media (max-width:450px) {
    *{
        font-size: 16px;
    }
    /* 1ere section carrousel  */
    .home .slide {
        text-align: center;
        background-size: cover !important;
        background-position: revert !important;
        height: 10rem;
    }
    .bg-carrousel{
        /* width: 100%; */
        width: 100vw;
    }
    .bg-carrousel__affiche{
        width: 100vw;
    }
    .home .slide .content {
        position: relative;
        width: 100vw;
        height: 100%;
        flex-direction: row;
        align-content: start;
        justify-content: start;
      
    }
    .content h3{
        display: block;
        font-size: 14px;
        height: 63%;
        width: 21%;
        margin-left: 42px;
    }
    /*  2ere section picture and media */
    .box-media{
        display: none;
    }
    .w-sm-70{
        width: 70%;
    }
    .w-sm-20{
        width: 10%;
    }
    .w-sm-30{
        width: 30%;
    }
    .img-illustation{
        display: none;
    }
    h1.title{
        font-size:16px;
        display: inline-block;
        text-align: justify;
    }
    h1.title + p{
        display:block;
        width:80vw;
    }
    
    /* Description service une */
  
    .content-desc{ 
        height: 285px;
        width: 268px;
    }

    .content-desc h1{
        margin:10px;
        font-size:20px;
        line-height: 28px;
        font-weight: bold;
    }
    .content-desc p{
        line-height: 24px;
        box-sizing: border-box;
        text-align: left;
    }

    .content-image img{
        width: 52px;
        height: 79px;
    }
    .service-content {
        display: flex;
        width: 320px;
        margin-top: 2rem;
        margin-right: 0;
        background: #F5F7F8;
        border: 1px solid #9D9898;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }
    .service-content >img{
        width: 310px;
    }
  
    /* section Partner */
    .slider {
        width: 98%;
        margin: 30px auto;
      }
      .slick-slide {
        margin: 0px 50px;
      }
      .slick-slide img {
        width: 60%;
      }
    .slick-list{
        margin:0 50px
    }
    button.slick-arrow {
    margin: 0px 20px;
    }
    .container_partner_display {
        display:flex;
        /* width:100%; */
        justify-content: center; 
        text-align: center;
         background: #FFFFFF;
    }
    .container-next-slide {
        width:100px;
        height:100px
    }
    .item_slide{
        display:inline-block;
        width: 205px!important;
        height: 80px!important;
        margin: 0 2rem;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
    div.card-image{
        position: relative;
        width: 205px !important;
        height: 70px;
    }
    div.card-image .card-img{
        height:100%;
        width:100%;
        object-fit: cover;
        /* margin:0 20px !important; */
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
}

@media (max-width:322px) {
    /*  2ere section picture and media */
    .box-media{
        display: none;
    }
    .w-sm-70{
        width: 70%;
    }
    .w-sm-20{
        width: 10%;
    }
    .w-sm-30{
        width: 30%;
    }
    .img-illustation{
        display: none;
    }
    h1.title{
        font-size:16px;
        display: inline-block;
        text-align: justify;
    }
    h1.title + p{
        display:block;
        width:80vw;
    }
    
    /* Description service une */
  
  
    /* section Partner */

    .slider {
        width: 98%;
        margin: 30px auto;
      }
    
      .slick-slide {
        margin: 0px 50px;
      }
    
      .slick-slide img {
        width: 60%;
      }
    .slick-list{
        margin:0 34px
    }
    button.slick-arrow {
    margin: 0px 20px;
    margin: 0px 20px;
    width: 40px;
    height: 40px;
      }
    .container_partner_display {
        display:flex;
        /* width:100%; */
        justify-content: center; 
        text-align: center;
         background: #FFFFFF;
    }
  
    .container-next-slide {
        width:100px;
        height:100px
    }
    
    .item_slide{
        display:inline-block;
        width: 205px!important;
        height: 80px!important;
        margin: 0 2rem;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
    div.card-image{
        position: relative;
        width: 57vw !important;
        height: 25vh;
      
    }
    div.card-image .card-img{
        
        margin:0 -28px !important;
      
    }
}

