.head{
	height:9.15px;
}
.header-box{
	margin-top:-20px;
	height: 129px;
	background: #14D1B3;
	/* margin-bottom:45px */
	margin-bottom:40px
}
.header-box h4{
	text-align:center;
	padding-top: 24px;
	/* padding-right: 50rem; */
	margin: 0 auto;
	font-weight: 600;
	font-size: 50px;
	line-height: 61px;
	color: #FFFFFF;
	
}
.container-content-recrutement{
	font-family: 'Montserrat';
	padding: 2rem 10rem;
	font-style: normal;
	font-weight: 700;
}
.container-content-recrutement h4{
	font-size: 18px;
	line-height: 23px;
	color: #000000;
}
h3.title__recrutement{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: justify;
	color: #000000;
}
.desc__recrutement{
	font-family: 'Montserrat';
	font-style: normal;
	/* font-weight: 500; */
	font-size: 18px;
	color: #000000;
}
.date_recrutement{
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: #747373;
}
.box-content{
	border-radius: 5px;
	background-color: #F7F7F7;
}

.content-item > h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	margin-top:3rem;
}
.content-item p {
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
	margin-top:3rem;
}
.box_info{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items:center;
	margin:4rem 0;

}
.box_info a{
	background: #FF0000;
	border-radius: 8px;
	font-weight: 600;
	padding: .8rem;
	font-size: 20px;
	line-height: 100.2%;
	color: #FFFFFF;
}
.card-rouge{
	background: #FF0000;
	height:22px;
	width:28px
}
.card-vert{
	background: #0BB012;
	height:22px;
	width:28px
}
.card-jaune{
	background: #FAD200;
	height:22px;
	width:28px
}
.box_info p{
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	color: #747373;
}
.item_inline{
height: 1px ;
background-color: #000000;
margin-bottom: 3rem;
}
/* Responsive mobile */
@media (max-width:450px) {

	.header-box h4{
		padding-top: 10rem;
		padding-right: 0rem;
		text-align:center;
		font-weight: 900;
		font-size: 20px;
		line-height: 19px;
	}
	h4.title__recrutement {
		text-align: center;
		font-size: 17px;
		line-height: 43px;
	}
	.content-item > h4 {
		font-size: 15px;
		line-height: 16px;
	}

}