.texte-couleur-blanche >a{
	color:#FFFFFF ;
}
.bground-couleur-wc-actualite{
 background:#FF0000;
}

.bg-couleur-wc-ressource{
	background:#FFB400;
}
.bg-couleur-wc-recrutement {
	background:#14D1B3;
}
.bg-couleur-wc-secteur{
	background:#3F079C;
}
.bg-couleur-wc-innovantion{
	background:#2592F9;
}
.bg-couleur-wc-expertise{
	background:#BF24C0;
}
.bg-couleur-wc-home{
	background:#BF24C0;
}

.texte-couleur-noir{
	color:#000;
}