
/*  */


.container_content_expertise{
   object-fit: cover;
   width: 100vw;
   background-size: cover;
   /* height: 866px; */
   padding-top: 111px;
   padding-left: 126px;
}
.container_content_expertise h4{
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	text-align: left;
	color: #FFFFFF;
}
.container_content_expertise p{
	font-style: normal;
	font-weight: 500;	
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
	color: #FFFFFF;
}
/* Responsive mobile */
@media (max-width:450px) {
	.header_expertise_box{
		height:10%;
		background: #701475;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		font-size: 18px;
	}
	.container_content_expertise{
		object-fit: cover;
		width: 100%;
		background-size: cover;
		height: 866px;
		padding-top: 111px;
		padding-left: 0px;
	 }
	 /* .container_content_expertise h4{
		margin-bottom: 0;
	} */
	.expertise_box {
		display: flex;
		flex-direction:column;	
	}
	div.active{
		width:90%;
		padding:10px;
		border: 1px solid #FFFFFF;
		border-radius: 5px;
	}

}