
/* .active-nav-main{
	height:49px;
	border-bottom: 1px solid #FFFFFF;
} */

.header_expertise_color_active{
	height: 100%;
	width:17.4%;
	background: #BF24C0;
}
.header_expertise_box{
	padding:2rem;
	height:192px;
	background: #701475;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.expertise_box {
	display: flex;
	flex-direction:column;
	
}
.expertise_item{
	display: inline-block;
	/* width: 25rem; */
	border-radius: 5px;
	margin:10px;
}
.expertise_item a{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 28px;
	/* text-transform: capitalize; */
	color: #BFBDBD;
}
div.active{
	width:15rem;
	padding:10px;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
}
.expertise_item a.active{
	color: #FFFFFF;
	font-size: 23px;
	line-height: 28px;
	font-style: normal;
	font-weight: 700;
}

.container_content_expertise{
   object-fit: cover;
   width: 100%;
   background-size: cover;
   height: 866px;
   padding-top: 111px;
   padding-left: 126px;
}
.container_content_expertise h4{
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 1rem;
	line-height: 49px;
	text-align: left;
	color: #FFFFFF;
}
.container_content_expertise p{
	font-style: normal;
	font-weight: 500;	
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
	color: #FFFFFF;
}
/* Responsive mobile */
@media (max-width:450px) {
	.header_expertise_box{
		height:10%;
		background: #701475;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		font-size: 18px;
	}
	.container_content_expertise{
		object-fit: cover;
		width: 100%;
		background-size: cover;
		height: 866px;
		padding-top: 111px;
		padding-left: 0px;
	 }
	 .container_content_expertise h4{
		margin-bottom: 0;
	}
	.expertise_box {
		display: flex;
		flex-direction:column;	
	}
	div.active{
		width:90%;
		padding:10px;
		border: 1px solid #FFFFFF;
		border-radius: 5px;
	}

}