 .home{
	padding:0;
}
.home .slide{
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
    height: 55rem;
}
.home .slide .content{
    width:85rem;
}
/* Description section 1er section */
.description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 52vh;
    justify-content: center;
}
.content-image img{
    margin-right: 20px;
    width: 390px;
    height: 390px;
}
.content-desc{
    margin-top:90px; 
    height: 285px;
    width: 466px;

}
.content-desc h1{
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 48px;
}
.content-desc p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 5rem;
    margin-right:  5rem;
    line-height: 29px;
    text-align: justify;
}
.contenaire-video video{
    width: 480px;
    height: 311px;
    margin-top: 5rem;
    border-radius: 5px;
}
.container-home{
    padding:0 2rem;
}

/* Services css */
.contenaire-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-element{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:80%;
}
.service-content{
    display: block;
    width: 392px;
    margin-top:2rem;
    margin-right: 3rem;
    background: #F5F7F8;
    border: 1px solid #9D9898;
}
.service-content img{
    margin:3px;
}
.service-content h1{
    margin: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    
    color: #000000;
    
}
.service-content p{
    width: 327px;
    text-align: left;
    padding:2rem;
    margin:0 !important;
    font-size: 22px;
}
.service-content a{
    height: 40px;
    margin: 2rem;
    background: #FF0000;
    border-radius: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #ffff;
}

/* Nos partenaires */

.partner_block{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:60vw;
}
.container_partner_display {
    display:flex;
    width:100%;
    justify-content: center; 
    text-align: center;
     background: #FFFFFF;
}
.container_partner h2{
    text-align: center;
    padding: 20px;
    font-weight: 600;
    font-size: 34px;
   
}
.item_slide{
    display:inline-block;
    width: 205px!important;
    height: 80px!important;
    margin: 0 2rem;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}
/* .partner_slide{
    padding: 0 3rem;
        
} */
.one-content{
    margin-top: 3rem;
}
.item_slide img{
    width: 100%;
    height: 100%;
}

@media (max-width:450px) {
    *{
        font-size:21px;
    }
	.home .slide{
		padding: 2rem;
		margin-top: 2rem;
	}
    .description{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
    }
    .content-desc{
        font-size: small;
        margin-top:0px; 
        height: 285px;
        width: 268px;
    }

    .content-desc h1{
        font-size:21px;
        line-height: 28px;
        font-weight: bold;
    }
    .content-desc p{
        font-size:20px;
        line-height: 24px;
        box-sizing: border-box;
        text-align: left;
        margin-top: 1rem;
        margin-right: 1rem;
    }
    .content-image img{
        margin-right: 20px;
        margin-top: -16px;
        width: 100px;
        height: 100px;
    }

    .contenaire-video video{
        width: 300px;
    }
    /* Partner */
    div.container_partner{
        margin:3rem 0
    }
    .container_partner h2 {
        font-weight: 400;
        font-size: 21px;
    }
    .container_partner_display {
        display:flex;
        /* width:100%; */
        justify-content: center; 
        text-align: center;
         background: #FFFFFF;
    }
    .partner_block{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100vw;
    }
    .container-next-slide {
        width:100px;
        height:100px
    }
    
    .item_slide{
        display:inline-block;
        width: 205px!important;
        height: 80px!important;
        margin: 0 2rem;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 7px;
    }
}