 .home{
	padding:0;
}
.home .slide{
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
    height: 45rem;
}
.home .slide .content{
    width:85rem;
}
/* Description section */
.description{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-image img{
  margin-right: 20px;
   width: 200px;
   height: 200px;
}
.content-desc{
    margin-top:90px; 
    height: 285px;
    width: 466px;

}
.content-desc h1{
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 48px;
}
.contenaire-video video{
    width: 480px;
    height: 311px;
    border-radius: 5px;
}
/*
.home .slide{
	display: flex;
	justify-content: center;
	align-items:center;
	background-size: cover !important;
	background-position: center !important;
}
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 120px;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.content-slide{
	width: 85rem;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
} */

@media (max-width:450px) {
	.home .slide{
		padding: 2rem;
		margin-top: 20rem;
	}
}