
html{
	--color-expertise:#BF24C0;
	--color-innovention:#2592F9;
	--color-recrutement:#14D1B3;
	--color-ressource:#FFB400;
	--color-secteur:#3F079C;
	--color-actualite:#FF0000;
	--color-text-menu:#FFFFFF
}

/* body{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	height:100vh;
	font-size:20px;
	display:flex;
} */

/* header{
	width:99%;
	top:0;
	left:0;
} */

/* div.logo{
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
} */

/* .navbar_container{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* .links{
	display: inline-flex;
} */
/* .links .link{
	list-style: none;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
} */

/* .links :hover{
	transition: all 0.2s ease-in;
	text-decoration: var(--color-text-menu) underline;
} */

/* ul li a {
	text-decoration:none;
	color: var(--color-text-menu);
} */

/* .widthp-20{
	width: 20%;
} */
/* .menu_content:hover .sub-menu{
	display: block;
    transition: all 0.3s ease-in;
    top: 55px;
} */
/* .sub-menu{
	position: absolute;
    background: #701475;
    width: 100%;
    top: 2vh;
    left: 0%;
    display: none;
} */

/* .sub-menu__container{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
} */

/* .colonne-menu ul{
	display: block;
}
 */
 *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }
 
 body{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	height:100vh;
 }
 
 .wraper{
	 background: #555;
 }
 .navbar{
	 display: flex;
	 /* justify-content: space-evenly; */
	 align-items: center;
	 height: 65px;
 }
 
 .logo h1{
	 font-family: 'Permanent Marker', cursive;
	 color: #f5f5f5;
	 font-size: 2rem;
 }
 
 .liens{
	 display: inline-flex;
	 color: #fff;
 }
 
 .liens .lien{
	 list-style: none;
 }
 
 
 .liens .lien a{
	 color: #f5f5f5;
	 text-decoration: none;
	 padding: 15px 30px;
	 font-size: 18px;
 }
 .liens .lien a:hover{
	 transition: all 0.2s ease-in;
	 /* text-decoration:  underline; */
	 text-decoration: solid underline var(--color-text-menu) 3px;
 }
 
 .sous-menu .liens .lien{
	 margin: 20px 0;
 }
 
 /* Style pour les megamenu */
 
  
 .mengamenu{
	 position: absolute;
	 /* background: #14D1B3; */
	 top: 65px;
	 left: 0;
	 right: 0;
	 padding: 20px;
	 display: none;
 }
 

 .lien-mega:hover .mengamenu {
	 display: block;
	 transition: all 0.3s ease-in;
	 top: 55px;
 }
 
 .container :hover{
	transition: all 0.3s ease-in;
	top: 55px;

 }
 .container{ 
	 display: flex;
	 /* justify-content: space-evenly; */
	 /* align-items: center; */
	 /* text-align: center; */
  }
 
 .colone ul{
	 display: block;
 }
 
 .colone ul li{
	 margin: 20px 0;
 }
 
 .colone .logo{
	 height: 200px;
	 width: 200px;
	 margin: auto;
	 border-radius: 1rem;
	 border: solid 3px #f5f5f5;
 }
 
 .colone h2{
	 font-size: 1.2rem;
 }
 .color-expertise{
	background-color:var(--color-expertise);
	
}

/* .width-expertise{
	width: 20% !important;
} */

.color-innovention{
	background-color:var(--color-innovention);
}

.color-recrutement{
	background-color:var(--color-recrutement);
}
.color-ressource{
	background-color:var(--color-ressource);
}
.color-secteur{
	background-color:var(--color-secteur);
}
.color-actualite{
	background-color:var(--color-actualite);
}